
[Paths]
cache_file_path = /tmp/node_ages.json


###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root

[handlers]
keys = console, chronosynth

[formatters]
keys = generic

[logger_root]
level = DEBUG
handlers = chronosynth, console

[handler_console]
class = StreamHandler
level = NOTSET
formatter = generic
args = (sys.stderr,)

[handler_chronosynth]
class = FileHandler
args = ('chronosynth.log', 'a')
level = DEBUG
formatter = generic


[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
